body {
  background-image: url(/image/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

h1 {
  font-size: 40px;
  margin: 0.5em 8em;
}

p {
  font-size: 26px;
  margin: 0.5em 11em;
}

ul {
  display: flex;
  justify-content: right;
  margin: 1em 7em;
}

img {
  width: 64px;
  height: 64px;
}

li {
  list-style: none;
  margin: 10px;
}



h2 {
  font-size: 30px;
  text-align: center;
  margin-right: 8em;
}

.photo {
  width: 15em;
  height: 25em;
  margin: 8em 20em;
  float: left;
  margin: 20px 10px 10px 15px;
}

#front {
  text-align: center;
  margin: 20px 0.5em 0 2em;
  font-size: 24px;
}