body {
  background-image: url(/image/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

h1 {
  font-size: 40px;
  margin: 0.5em 8em;
}

p {
  font-size: 26px;
  margin: 0.5em 11em;
}

ul {
  display: flex;
  justify-content: right;
  margin: 1em 7em;
}

img {
  width: 64px;
  height: 64px;
}

li {
  list-style: none;
  margin: 10px;
}



h2 {
  font-size: 25px;
  text-align: center;
  margin-left: 70px;
  padding: 30px;
}

.photo {
  width: 12em;
  height: 18em;
  float: left;
  margin: 20px 10px 10px 15px;
  border: 1px solid #fff;
  border-radius: 20px;
}

#front {
  text-align: center;
  margin: 10px 0.5em 0 2em;
  font-size: 16px;
}

.item {
  width: 40em;
  height: 1px;
  border-radius: 60px;
  border: 1px solid #fff;
  margin-left: 60px;
}

section {
  display: flex;
  justify-content: left;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.section_item {
  margin: 20px;
  font-style: italic;
  text-align: left;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #0ff;
}

h5 {
  font-size: 2.5em;
  text-align: center;
}

.circle_hover:hover {
  border-radius: 60%;
  border: 3px solid #0ff;
}